.hero-slider{
    width:100%;
    margin-top:20px;
}


/* Desktop */
.hero-slider img{
    width:100%;
    height:800px;
    object-fit:cover;
    border-radius:10px;
}


/* Tablet */
@media(max-width:1024px){

.hero-slider{
    margin-top:15px;
}

.hero-slider img{
    height:500px;
    border-radius:8px;
}

}



/* Mobile */
@media(max-width:768px){

.hero-slider{
    margin-top:10px;
}

.hero-slider img{
    height:300px;
    border-radius:5px;
}

}



/* Small Mobile */
@media(max-width:480px){

.hero-slider img{
    height:220px;
}

}